@main{
	<div id="headerwrap">
		    <div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h3>¿ Como saber si puedes tener diabetes ?</h3>
						<h1>En Diabetest nos especializamos en resolver tu duda.</h1>
					</div>
					<div class="col-lg-8 col-lg-offset-2 himg">
						<img src="@routes.Assets.at("assets/img/diabetes.jpg")" class="img-responsive">
					</div>
				</div><!-- /row -->
		    </div> <!-- /container -->
	</div><!-- /headerwrap -->
}{
	
}
